.navbar{
display: flex;
flex-direction: row;
justify-content: space-around;
background: red;
color: white;
align-items: center;
height: 40px;
padding: 5px;
position: fixed;
z-index: 9;
width: 100%;
outline: 5px;
outline-style: solid;
outline-color: rgb(238,232,170);
}



.container{
    margin: auto;
    padding-top: 2em;
}

.content1{
    max-width: 80%;
    margin: auto;
    margin-top: 1em;
    padding: 1em;
    font-size: 15px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.flexing{
    width: 80%;
    padding: 2px;
    margin: auto;
}

.content2{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    font-size: 12px;
}

.picture{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.img{
    height: 250px;
    border-radius: 3%;
    outline: 5px;
    outline-style: solid;
    outline-color: rgb(238,232,170);
}
.content3{
    padding: 5px;
    margin: auto;
    font-size: 15px;
    text-align: start;
}


.LegalInfo {
    height: 40px;
    padding: 5px;
    background:black;
    position: fixed;
    bottom: 0;
    width: 100%;
    outline: 5px;
    outline-style: solid;
    outline-color: rgb(238,232,170);
}

.link{
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 20px;
    margin-top: 0.5%;
    text-decoration: none;
}


@media (min-width: 600px) {   

    .flexing{
        display: flex;
        flex-direction: row;
        height: 450px;
    }
    
    .content1{
        font-size: 20px;
    }

    .content2{
        margin: 20px;
        padding: 10px;
        font-size: 15px;
    }

    .content3{
        font-size: 20px;
    }

    .img{
        height: 400px;
        width: fit-content;
    }
    
    .topnav a:not(:first-child) {
        display: none;
      }
    
      .topnav a.icon {
        float: right;
        display: block;
      }
    
    
      .topnav.responsive {
        position: relative;
      }
    
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
    
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
}